body .sidebar {
    width: 20%;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #d9e2e8;
}

body .sidebar .column {
    height: auto;
}

body .sidebar .column .banner {
    min-height: 300px;
    height: auto;
    margin-bottom: 5%;
}

body .sidebar .column .banner .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15% auto;
    display: block;
}

body .sidebar .column .banner p {
    height: auto;
    font-size: 10px;
    margin: 15px 0;
}

body .sidebar .column .banner .author {
    height: auto;
    font-size: 25px;
}

body .sidebar .column .banner p b {
    color: rgb(32, 121, 255);
    margin-right: 5px;
}

body .sidebar .column hr {
    width: 95%;
    margin: 5% auto;
    background-color: #d9e2e8;
    color: #d9e2e8;
    height: 1px!important;
    border: 0;
}

body .sidebar .column nav {
    min-width: 240px;
    width: 100%;
    min-height: 40px;
    height: auto;
    padding: 8px;
}

body .sidebar .column nav ul {
    height: auto;
}

body .sidebar .column nav ul li {
    width: 100%;
    min-height: 50px;
    height: auto;
    margin: 5px 0px;
}

body .sidebar .column nav ul li a:hover,
body .sidebar .column nav ul li .active {
    background-color: #e6ebef;
    border-radius: 5px;
}

body .sidebar .column nav ul li a .icon {
    width: 25%;
    height: 100%;
    transition: transform .5s;
}

body .sidebar .column nav ul li a .icon svg {
    width: 22px;
    height: 22px;
    color: #8796a1;
}

body .sidebar .column nav ul li .active .icon svg,
body .sidebar .column nav ul li .active p {
    color: black;
    font-weight: 600;
}

body .sidebar .column nav ul li a p {
    width: 75%;
    height: 100%;
    justify-content: start;
    padding-left: 5%;
    font-size: 18px;
}

body .sidebar .column .copyright {
    min-height: 100px;
    height: auto;
    padding: 5%;
    line-height: 25px;
    color: #8796a1;
    font-size: 12px;
    font-weight: 100;
}

body .sidebar .column .copyright b,
body .sidebar .column .copyright svg {
    color: rgb(32, 121, 255);
}

body .content {
    width: 80%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

body .content .section {
    min-height: 770px;
    padding: 5%;
    opacity: 0;
    transition: opacity .5s;
}

body .content .visible {
    opacity: 1;
}